<h1>商品登録</h1>
 <%= form_with model: Item.new, url: admin_items_path do |f| %>
   <%= f.label :image, "商品画像"  %>
   <%= f.file_field(:image) %><br>

   <%= f.label :name, "商品名" %>
   <%= f.text_field :name %><br>

   <%= f.label :introduction, "商品説明" %>
   <%= f.text_area :introduction %><br>

   <%= f.label :genre_id, "ジャンル" %>
   <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択してください" %><br>

   <%= f.label :price, "税抜き価格" %>
   <%= f.text_field :price %><br>

   <%= f.label :is_sold, "販売ステータス" %>
   <%= f.radio_button :is_sold, false %>
   <%= f.label :is_sold_false, "販売中" %>
   <%= f.radio_button :is_sold, true %>
   <%= f.label :is_sold_true, "販売中止" %><br>

   <%= f.submit "新規登録" %>
 <% end %>